@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Marcellus&display=swap');
@import "tailwindcss";

/* Optional: Add a smooth scroll behavior since it's a landing page */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  .font-abhaya {
    font-family: 'Abhaya Libre', serif !important;
  }

  .font-optima {
    font-family: 'Marcellus',Optima, sans-serif !important;
  }
}